<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<title>Layout</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{css/style.css}">
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark p-3">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Mon Site D&eacute;moniaque</a>
			<!-- <h1 class="title">Phones List</h1> -->
		</div>
		
		<img src="../static/images/images.jpg" alt="Logo" width="98" height="95" class="d-inline-block align-text-top" th:src="@{images/images.jpg}">
   
		 <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item  ms-4">
      <li><a class="nav-link" th:href="@{/index}">Accueil</a>
      <li class="nav-item  ms-4">
       <li><a class="nav-link" th:href="@{/article}">Article</a>
        <li class="nav-item  ms-4">
          <a class="nav-link" href="#">Page1</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="#">Page2</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link" href="#">Page3</a>
        </li>
      </ul>
    </div>

	</nav>

	



	<section layout:fragment="content"></section>
<div class="footer fixed-bottom">
		<footer>
			<p>&copy; FMS Academy May2023 | GuillaumeP. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>